body {
  overflow-y: overlay !important;
  font-family: "IBM Plex Sans", sans-serif !important;
}

.font-ibm {
  font-family: "IBM Plex Sans", sans-serif;
}

.text-20 {
  font-size: 20px;
}

.text-justify {
  text-align: justify !important;
  text-justify: inter-word !important;
}

.fontsize-sh {
  font-size: calc(1.2rem + 0.4vw) !important;
}

.bg-28 {
  background-color: #282828 !important;
}

.border-gradient-one {
  border-radius: 0% !important;
  background-image: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(221, 70, 252, 1) 100%
    ),
    radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(221, 70, 252, 1) 100%);
  background-size: 5px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}
.border-gradient-two {
  border-radius: 0% !important;
  background-image: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    ),
    radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
  background-size: 5px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}
.border-gradient-three {
  border-radius: 0% !important;
  background-image: radial-gradient(
      circle,
      rgba(255, 119, 119, 1) 0%,
      rgba(255, 171, 171, 1) 38%,
      rgba(255, 189, 96, 1) 100%
    ),
    radial-gradient(
      circle,
      rgba(255, 119, 119, 1) 0%,
      rgba(255, 171, 171, 1) 38%,
      rgba(255, 189, 96, 1) 100%
    );
  background-size: 5px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
}
